#cat_box{
    display: flex;
    /* justify-content: center; */
    justify-content: space-evenly;
    width: 95%;
    margin: auto;
    /* border-style: solid; */
    padding-top: 2%;
    margin-bottom: 1%;
}
.cat{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
}
/* .cat p{
#    text-decoration: none;
    color:black;
} */
.dropdown:hover>.dropdown-menu {
    display: block;
  }
  
  .dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
      pointer-events: none;
  }






@media only screen and (min-width: 320px) and (max-width: 480px){
    #cat_box{
        overflow: scroll;
    }
}  
@media only screen and (min-width: 481px) and (max-width: 768px){
    #cat_box{
        overflow: scroll;
    }
}  
@media only screen and (min-width: 769px) and (max-width: 1024px){
    #cat_box{
        overflow: scroll;
    }
   
} 
@media only screen and (min-width: 1024px) and (max-width: 1200px){
    #cat_box{
        overflow: scroll;
    }
}  