footer{
    background-color: black;
    color: white;
    font-size: 80%;
    padding-top: 2%;
    width: 98.8vw;
}
#main_cont_footer{
    /* display: flex; */
    /* justify-content: space-evenly; */
}
#contact_us_cont{
    /* width: 40%; */
}
.list-unstyled li a{
    text-decoration: none;
    color: white;
}
.footer_next_links{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
   
    /* background-color: aquamarine; */
}
.footer_next_links a{
    text-decoration: none;
    color: white;
}



@media only screen and (min-width: 320px) and (max-width: 480px){
    .footer_next_links{
        display: block;
    }
}  
@media only screen and (min-width: 481px) and (max-width: 768px){
    .footer_next_links{
        display: block;
    }
}  
@media only screen and (min-width: 769px) and (max-width: 1024px){
    
   
} 
@media only screen and (min-width: 1024px) and (max-width: 1200px){
   
}  